@font-face {
    font-family: 'Roboto';
    src: url(./assets/fonts/Roboto-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url(./assets/fonts/Roboto-Bold.ttf);
    font-weight: 700;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;

    min-height: 100vh;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    margin: 0;
    padding: 0;
}

.main {
    margin: 0;
    padding: 0;
}

.footer {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    background-color: #555D50;
    height: 50px;
}

.container.main-container {
    display: flex;
    flex-wrap: wrap;
}

.header-column {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
}

.aside-column.aside-profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside-column {
    width: 25%;

    background-color: #343434;
    color: white;
}
.main-column {
    width: 75%;
}

@media (max-width: 768px) {
    .aside-column {
        width: 100%;
    }

    .aside-column.main-container {
        order: 2;
    }

    .main-column {
        width: 100%;
    }

    .main-column.main-container {
        order: 1;
    }
}

.aside-profile {
    border-bottom: 4px solid #555D50;
}

.main-profile {
    border-bottom: 4px solid #555D50;

}

.section-profile {
    padding: 0px 40px;
}

.section {
    padding: 10px 40px;
    border-bottom: 2px solid #555D50;
}

.main-section-title {
    font-size: 24px;
    font-weight: 700;
    color: #555D50;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.section-title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.section-main-title {
    font-size: 2.5em;
    font-weight: 400;
    letter-spacing: 3px;
    margin: 20px 0;
}

.section-main-subtitle {
    font-size: 20px;
    font-weight: 400;
    color: #555D50;
    text-transform: uppercase;
    letter-spacing: 2px;
 
    margin: 20px 0;
}

.footer-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    color: white;
    background-color: #555D50;
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    list-style: none;
    margin: 0;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color: white;
    font-weight: 400;

    transition: 0.5s;
}

.nav-link:hover {
    color: #FFA500;
}

.avatar {
    width: 180px;
    height: 180px;

    border-radius: 50px;
    margin: 10px 0;
}

.aside-link {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
  
.aside-link:hover {
    color: #FFA500;
}

.main-link {
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.main-link:hover {
    color: #FFA500;
}


.footer-git {
    display: block;
    background-image: url(./assets/img/github-logo-vector.svg);
    background-repeat: no-repeat;
    width: 200px;
    height: 100px;
    margin: 0 100px;
    padding: 0;
}

.footer-text {
    margin: 0;
    padding: 0;
}

.footer-rss {
    display: block;
    background-image: url(./assets/img/rs_school_js.svg);
    background-repeat: no-repeat;
    width: 100px;
    height: 45px;
    margin: 0 100px;
}